doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Registration
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='main.css')
    script(src='application.js')
  body.bg1
    #content
      .container
      .push
    .footer
      .color-picker
        ul.background-selection
          li.bg-select-1.bg-selector(data-background='bg1')
          li.bg-select-2.bg-selector(data-background='bg2')
          li.bg-select-3.bg-selector(data-background='bg3')
          li.bg-select-4.bg-selector(data-background='bg4')
          li.bg-select-5.bg-selector(data-background='bg5')
          li.bg-select-6.bg-selector(data-background='bg6')
          li.bg-select-7.bg-selector(data-background='bg7')
          div(style='clear: both;')
