@font-face {
  font-family: 'HeroLight';
  src: url('../Hero Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hero';
  src: url('../Hero.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}